<!DOCTYPE html>
<html>
<head>
	<title>Insureon</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<link href="http://jquerymobile.com/test/css/themes/default/jquery.mobile.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://jquerymobile.com/test/js/jquery.mobile.js"></script>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0," />
	<meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
	<div data-role="page" id="layouts-page">
		<div data-role="header" data-position="fixed">
			<%= render 'layouts/header' %>
		</div>
		<div data-role="content">
			<% if flash[:notice] %>
			<div data-role="navbar">
				<ul>
					<li>
						<a href="" ><%= flash[:notice] %></a>
					</li>
				</ul>
			</div>
			<% end %>
			<% if flash[:error] %>
			<div data-role="navbar">
				<ul>
					<li>
						<a href="" ><%= flash[:error] %></a>
					</li>
				</ul>
			</div>
			<% end %>
			<img src="http://www.techinsurance.com/images/logo.png">
			<div class="center-wrapper">
				<div class="center-button"><a data-theme="b" data-role="button" href="tel:18006687020"><h3>Call Us Now! 1-800-668-7020</h3></a></div>
			</div>
			<br>
			<br>
			<%= yield %>
		</div>
		<div data-role="footer" id="layouts-footer" class="ui-bar" data-type="horizontal">

			<h1><a data-role="button" data-mini="true" style="display: block" href="http://www.techinsurance.com/">View Our Desktop Site</a></h1>
		</div>
	</div>

</body>
</html>